# cPanel Phusion Passenger & LiteSpeed WebSocket Configuration
<IfModule mod_rewrite.c>
  RewriteEngine On

  # Detect WebSocket Upgrade Handshake & Proxy to Passenger / 3001
  RewriteCond %{HTTP:Upgrade} =websocket [NC]
  RewriteCond %{HTTP:Connection} =Upgrade [NC]
  RewriteRule ^server/socket\.io/(.*) http://127.0.0.1:3001/server/socket.io/$1 [P,L]
</IfModule>
