# cPanel Phusion Passenger & LiteSpeed WebSocket Configuration
<IfModule mod_rewrite.c>
  RewriteEngine On

  # Pass raw WebSocket upgrade requests directly to Phusion Passenger Node.js application
  RewriteCond %{HTTP:Upgrade} =websocket [NC]
  RewriteRule ^(.*)socket.io/(.*) - [L]
</IfModule>
